<div class="jumbotron text-center">
	<h1>About Us</h1>
	
	<p>This is an about page. This Project is for my Web applications Module for my fourth year in Multimedia Applications Development </p>
</div>