<div class="jumbotron text-center">
	<h1>Contact Us</h1>
	
	<p> If you have any queries about this site feel free to contact me at:</p>
	<a href="mailto:apaultwomey2@hotmail.com?cc=apaultwomey2@hotmail.com&amp;bcc=apaultwomey2@hotmail.com&amp;subject=Web%20Applications%20Project">Paul Twomey</a>
</div>