<div class="jumbotron text-center">

	<h1>Information Database</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-5">
<p>
<table>
	<tr>
		<td>
			<p>
				<i>4th Year Web Applications Project</i>
				<p>Please insert your information for processing</p>
			<p>once you complete this you can veiw your info</p>
			<p>Just click <a href ="#info">here</a> to go to the</p>
			<p>the information page</p>
		</td>
		<td><img src="./images/Man&woman1.jpg"></td>
	</tr>
</table>  
</p>
</div></div>
</div>